<ion-header>
  <ion-navbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- UNLOGGED -->
  <div class="global-alert warning" *ngIf="!helper.logged">Aparentemente você ainda não está logado. <br/>Entre para ter acesso.</div>
  <div class="unlogged page" *ngIf="!helper.logged">
    <img src="assets/img/sad.png"/>
    <button ion-button outline color="dark" (click)="openAccess()">Entrar</button>
  </div>

  <!-- LOGGED -->
  <div class="logged page" *ngIf="helper.logged">
    <img src="assets/img/happy.png"/>
    <div class="global-alert info"><h4>Olá, {{me.full_name}}</h4> Bem-vindo.</div>
    <button ion-button outline color="danger" (click)="showConfirm()">Sair</button>
  </div>

</ion-content>
