<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Cursos" tabIcon="home" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Pedidos" tabIcon="information-circle" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Perfil" tabIcon="contact" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>
