<ion-header>
  <ion-navbar>
    <ion-title>Pedido</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding *ngIf="order">
  <div class="uuid">#{{order.uuid}}</div>
  <div class="total">
    R$ {{order.total}}
    <span>total do pedido</span>
  </div>
  <ion-row class="coupon" *ngIf="order.coupon">
    <ion-col>
      <span>Cupom</span>
      {{order.coupon.title}}
    </ion-col>
    <ion-col>
      <span>Desconto</span>
      {{order.coupon.off}}%
    </ion-col>
  </ion-row>
  
  <p class="status"><strong [ngStyle]="{'color': _orders.parseStatus(order.status.id) }">{{order.status.title}}</strong></p>

  <div class="moip-container">
    <img src="https://cdn.moip.com.br/wp-content/uploads/2017/01/15232848/logo-moip-wirecard.png">
    <ion-row class="returns">
      <ion-col>
        <span>Pedido</span>
        {{order.order_track}}
      </ion-col>
      <ion-col>
        <span>Pagamento</span>
        {{order.payment_track}}
      </ion-col>
    </ion-row>
  </div>

  <button ion-button round block color="light" (click)="getItems()" *ngIf="items.length == 0">Ítens do pedido</button>
  <ion-list no-lines>
    <ion-item *ngFor="let item of items">
      <ion-avatar item-start>
        <img [src]="item.course.logo_url">
      </ion-avatar>
      <h2>{{item.course.title}}</h2>
      <p>R$ {{item.course.price}} <small *ngIf="order.coupon">{{order.coupon.off}}% OFF</small></p>
    </ion-item>
  </ion-list>

  <hr/>

  <button ion-button round block color="light" (click)="getStatuses()"  *ngIf="statuses.length == 0">Históricos de status</button>
  <ion-list no-lines>
    <ion-item *ngFor="let status of statuses">
      <ion-icon ios="ios-card" md="md-card" item-start color="primary"></ion-icon>
      <h2>{{status.status.title}}</h2>
      <p><small>{{helper.formatTimeStamp(status.created_at, null)}}</small></p>
    </ion-item>
  </ion-list>

</ion-content>
