page-order {
  .uuid{
    text-align: center;
    font-weight: 500;
    color: #607d8b;
  }
  .total{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    color: #9c27b0;
    span{
      display: block;
      padding: 5px;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  .coupon{
    text-align: center;
    font-weight: 500;
    span{
      color: #009688;
      display: block;
      font-size: 10px;
      line-height: 1.5em;
    }
  }
  .status{
    text-align: center;
    padding: 15px;
    background-color: rgba(158, 158, 158, 0.07);
  }
  .moip-container{
    text-align: center;
    border-top: 1px rgba(21, 61, 103, 0.14) solid;
    border-bottom: 1px rgba(21, 61, 103, 0.14) solid;
    margin-bottom: 15px;
    img{
      padding-top: 10px;
      margin: auto;
    }
    .returns{
      text-align: center;
      font-weight: 500;
      span{
        color: #153d67;
        display: block;
        font-size: 10px;
        line-height: 1.5em;
      }
      padding-bottom: 10px;
    }
  }
}
