<ion-header>
  <ion-navbar>
    <ion-title>Fabiano Solutions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let course of courses">
    <img [src]="course.logo_url"/>
    <ion-card-title>
      {{course.title}}
    </ion-card-title>
    <ion-card-content>
      <p>
        {{course.description}}
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>Início: {{helper.formatTimeStamp(course.begin, 'date')}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <div>R$ {{course.price}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-right clear small (click)="openCourse(course)">
          <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
