page-home {
  ion-card {
    position: relative;
    text-align: center;
    .card-title {
      position: relative;
      font-weight: bold;
      font-size: 2em;
      padding: 10px;
      width: 100%;
      color: #fff;
      background: #abacad;
    }

    p {
      text-align: justify;
      width: 100%;
      border-top: 2px solid rgba(157, 195, 214, 0.34);
      border-bottom: 2px solid rgba(157, 195, 214, 0.34);
      padding: 10px;
      color: #435775 !important;
      line-height: 1.7 !important;
    }
  }
}
