// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #1680ca,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

.global-alert{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}.info{
  color: #ffffff;
  background-color: color($colors, primary);
}.warning{
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.unlogged{

}.page{
  text-align: center;
  margin-top: 20% !important;
  color: #8a6d3b;
  img{
    width: 120px;
    padding: 15px;
  }
  button{
    margin: auto;
    display: block;
    width: 200px !important;
  }
}

.logged{

}.page{
  text-align: center;
  margin-top: 20% !important;
  color: #00BCD4;
  img{
    width: 120px;
    padding: 15px;
  }[large]{
    width: 180px;
  }
  button{
    margin-top: 20px !important;
    margin: auto;
    display: block;
    width: 200px !important;
  }
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
