<ion-header>
  <ion-navbar>
    <ion-title>Curso</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <img [src]="course.logo_url"/>
    <ion-card-content>
      <ion-card-title>
        {{course.title}}
        </ion-card-title>
      <p text-justify>
        {{course.description}}
      </p>
      <hr/>
      <ion-row>
        <ion-col text-left>
          {{course.category.title}}
        </ion-col>
        <ion-col text-right>
          R$ {{course.price}}
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <button ion-button block padding (click)="show_topics = !show_topics">O que vou aprender?</button>
  <ion-list *ngIf="show_topics">
    <ion-item *ngFor="let topic of course.course_topics" text-wrap>
      <ion-icon ios="ios-bulb" md="md-bulb" item-start color="primary"></ion-icon>
      <h3>{{topic.title}}</h3>
    </ion-item>
  </ion-list>

  <hr/>

  <button ion-button block padding (click)="show_skill = !show_skill">O que preciso saber?</button>
  <p text-center [innerHTML]="course.required_skill" *ngIf="show_skill"></p>
</ion-content>
