<ion-header>
  <ion-navbar>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="global-alert warning" *ngIf="!helper.logged">Aparentemente você ainda não está logado. <br/>Entre para ter acesso.</div>
  <div class="unlogged page" *ngIf="!helper.logged">
    <img src="assets/img/sad.png"/>
    <button ion-button outline color="dark" (click)="openAccess()">Entrar</button>
  </div>

  <ion-list *ngIf="helper.logged">
    <ion-item *ngFor="let order of orders" (click)="openOrder(order)">
      <ion-icon ios="ios-list" md="md-list" item-start color="primary"></ion-icon>
      <h2>#{{order.uuid}}</h2>
      <ion-row>
        <ion-col>
          <p>R$ {{order.total}}</p>
        </ion-col>
        <ion-col text-right>
          <p><small [ngStyle]="{'color': _orders.parseStatus(order.status.id), 'font-weight': 500 }">{{order.status.title}}</small></p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
  
</ion-content>
