<ion-header>
  <ion-navbar>
    <ion-title>Acesso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- LOGGED -->
  <div class="logged page" *ngIf="helper.logged">
    <img large src="assets/img/hands.png"/>
    <div class="global-alert info"><h4>Olá, {{me.full_name}}</h4></div>
  </div>

  <!-- UNLOGGED -->
  <ion-list *ngIf="!helper.logged">
    <div class="global-alert info" *ngIf="!me">Já é cadastrado? Informe seus dados.</div>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <!-- API CALLBACK WARNING  -->
    <div class="global-alert warning" *ngIf="warning">{{warning}}</div>

    <div padding>
      <button ion-button round block padding (click)="signIn()">ENTRAR</button>
      <hr/>
      <a href="https://fabiano.solutions/users/sign_up" color="light" target="_blank" ion-button round block padding>CADASTRE-SE POR AQUI</a>
      <hr/>
      <button ion-button color="dark" clear block (click)="navCtrl.pop()">FECHAR</button>
    </div>
  </ion-list>

</ion-content>
